$purple_color: rgb(154, 101, 253);

* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  color: $purple_color;
}

p {
}

body {
  background-color: black;
}

.head {
  background-color: black;
  padding: 1.25rem;
  padding-inline: 150px;
  box-shadow: 0px 5px 20px rgb(138, 113, 113);
}

.container {
  &-week {
    display: grid;
    padding-inline: 300px;
    padding-top: 80px;

    &-card {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 30px;

      &-in {
        border: 2px solid white;
        border-radius: 20px;
        padding: 20px;

        .week-class {
          color: $purple_color;
        }

        .week-hw {
          color: $purple_color;
        }

        .Nlink {
          color: rgba($purple_color, 0.4);
        }
      }
    }
  }
}

.week-num {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

// .week {
//   margin-top: 50px;
//   padding: 1.875rem;
//   &-num {
//     color: white;
//   }
// }

.link {
  margin-top: 0.625rem;
  // color: $purple_color;
}

.Nlink {
  color: white;
}
